body {
  font-family: Arial;
  color: #FAFAFA;
  background-color: #222222;

}

.nets {
  background-color: #FAFAFA;
  width: 80vw;
  color: #222222;
  cursor: pointer;
}


.hovered {
  background-color: #dbd5d5;
  transition: 0.7s ease;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.label {
  align-items: center;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.line {
  display: flex;
}

.line h2{
  padding-left: 1em;
}

.line img {
  margin-left: auto;
  order: 2;
  margin-right: 2em;
}

input {
  height: 32px;
  width: 50vw;
  margin-right: 2vw;
  margin-left: 2vw;
  font-size: 45px;
  border-radius: 10px;

}

button {
  height: 36px;
  background-color: #71DB77;
  color: #222222;
  font-size: 18px;
  border-radius: 10px;
  border-width: 0px;
  text-align: center;
  padding-left: 2em;
  font-weight: 400;

  padding-right: 2em;
}

button:hover {
  background-color: #4b964f;
  cursor: pointer;
  transition: 0.7s ease;
}

.clicked{
  background-color: #71DB77;
}