body {
  font-family: Arial;
  color: #FAFAFA;
  background-color: #222222;

}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {

  left: 0;
  background-color: #222222;
}

.right {
  right: 0;
  background-color: #71DB77;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered:hover{
    opacity: 70%;
    transition: 0.7s ease;
    cursor: pointer;
}

.centered img {
  width: 150px;
}

.centered:hover img{
    transition: 0.7s ease;
    width: 200px;
}